<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.surforecast</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/markcowlishaw/surforecast/venv/bin/python</string>
        <string>/Users/markcowlishaw/surforecast/surf_report.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>5</integer>
        <minute>45</minute>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/markcowlishaw/surforecast</string>
    <key>StandardOutPath</key>
    <string>/tmp/surforecast.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/surforecast.err</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>